@import "../../../styles/variables.scss";

.input {
  &--container {
    display: flex;
    height: 40px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  &--element {
    color: $color-white;
    width: 100%;
    background-color: transparent;
    outline: none;
    border-color: transparent;
    font-size: 20px;
    &:focus {
      outline: none;
      border-color: transparent;
    }
  }
  &--icon {
    width: 30px;
    &-container {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ccc;
    }
  }
}
